
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DocManager | Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link href="~/Content/notika/css/bootstrap.min.css" rel="stylesheet" />


    <!-- owl.carousel CSS
        ============================================ -->
    <link href="~/Content/notika/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/notika/css/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/notika/css/owl.transitions.css" rel="stylesheet" />
    <!-- meanmenu CSS
        ============================================ -->
    <link href="~/Content/notika/css/meanmenu/meanmenu.min.css" rel="stylesheet" />
    <!-- animate CSS
        ============================================ -->
    <link href="~/Content/notika/css/animate.css" rel="stylesheet" />
    <!-- normalize CSS
        ============================================ -->
    <link href="~/Content/notika/css/normalize.css" rel="stylesheet" />
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link href="~/Content/notika/css/scrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <!-- jvectormap CSS
        ============================================ -->
    <link href="~/Content/notika/css/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
    <!-- Notika icon CSS
        ============================================ -->
    <link href="~/Content/notika/css/notika-custom-icon.css" rel="stylesheet" />
    <!-- wave CSS
        ============================================ -->
    <link href="~/Content/notika/css/wave/waves.min.css" rel="stylesheet" />
    <!-- main CSS
        ============================================ -->
    <link href="~/Content/notika/css/main.css" rel="stylesheet" />
    <!-- style CSS
        ============================================ -->
    <link href="~/Content/notika/css/style.css" rel="stylesheet" />
    <!-- responsive CSS
        ============================================ -->
    <link href="~/Content/notika/css/responsive.css" rel="stylesheet" />


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <!-- modernizr JS
        ============================================ -->
    <script src="~/Content/notika/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    @Html.Partial("_AdminHeader")
    @Html.Partial("_MobileMenu")
    @Html.Partial("_AdminMainMenu")


    @RenderBody()


    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    <!-- End Footer area-->
    <!-- jquery
        ============================================ -->
    <script src="~/Content/notika/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/Content/notika/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/Content/notika/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/Content/notika/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/Content/notika/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/Content/notika/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/Content/notika/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="~/Content/notika/js/counterup/jquery.counterup.min.js"></script>
    <script src="~/Content/notika/js/counterup/waypoints.min.js"></script>
    <script src="~/Content/notika/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/Content/notika/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- jvectormap JS
        ============================================ -->
    <script src="~/Content/notika/js/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/Content/notika/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Content/notika/js/jvectormap/jvectormap-active.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="~/Content/notika/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/notika/js/sparkline/sparkline-active.js"></script>
    <!-- flot JS
        ============================================ -->
    <script src="~/Content/notika/js/flot/jquery.flot.js"></script>
    <script src="~/Content/notika/js/flot/jquery.flot.resize.js"></script>
    <script src="~/Content/notika/js/flot/curvedLines.js"></script>
    <script src="~/Content/notika/js/flot/flot-active.js"></script>
    <!-- knob JS
        ============================================ -->
    <script src="~/Content/notika/js/knob/jquery.knob.js"></script>
    <script src="~/Content/notika/js/knob/jquery.appear.js"></script>
    <script src="~/Content/notika/js/knob/knob-active.js"></script>
    <!--  wave JS
        ============================================ -->
    <script src="~/Content/notika/js/wave/waves.min.js"></script>
    <script src="~/Content/notika/js/wave/wave-active.js"></script>
    <!--  Chat JS
        ============================================ -->
    <script src="~/Content/notika/js/chat/moment.min.js"></script>
    <script src="~/Content/notika/js/chat/jquery.chat.js"></script>
    <!--  todo JS
        ============================================ -->
    <script src="~/Content/notika/js/todo/jquery.todo.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/Content/notika/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/Content/notika/js/main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">



        function OpenAddPopupImages(Id) {
            $.ajax({
                url: '/Embarques/LoadaddFilesPopup?EmbarqueId=' + Id,
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#divcontent').empty();
                    $('#divcontent').html(result);
                    $('#AddUpdateModelPopup').modal('show');
                },
                error: function (xhr, status) {
                    alert(status);
                }
            })
        }

        function OpenUpdatePopup(Id) {
            $.ajax({
                url: '/Embarques/LoadEditReceiptPopup?EmbarqueId=' + Id,
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#divcontent').empty();
                    $('#divcontent').html(result);
                    $('#AddUpdateModelPopup').modal('show');
                    //$('#btndivuserguidemodel').trigger('click');
                },
                error: function (xhr, status) {
                    alert(status);
                }
            })
        }


        //Add Data Function
        function AddFiles() {


            var FilesObj = {
                EmbarqueId: $('#EmbarqueId').val(),
                files: $('#files').val(),
            };


            var fileUpload = $("#files").get(0);
            var files = fileUpload.files;

            // Create FormData object  
            var fileData = new FormData();

            // Looping over all files and add it to FormData object  
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // Adding one more key to FormData object  
            fileData.append('EmbarqueId', $('#EmbarqueId').val());




            $.ajax({
                url: "/Embarques/AddFiles",
                data: fileData,
                type: "POST",
                contentType: false, // Not to set any content header  
                processData: false, // Not to process data  

                success: function (result) {
                    //populate table with new record
                    window.location.href = result.redirectToUrl;
                    $('#AddUpdateModelPopup').modal('hide');
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        //function for updating Patient record
        function UpdateReceipt() {
            var res = ValidateForm();
            if (res == false) {
                return false;
            }
            var EmbarqueObj = {
                EmbarqueId: $('#EmbarqueId').val(),
                Referencia: $('#Referencia').val(),
                FechaArribo: $('#FechaArribo').val(),
                Origen: $('#Origen').val(),
                Destino: $('#Destino').val(),
                CantidadContainers: $('#CantidadContainers').val(),
                Mercancia: $('#Mercancia').val(),
                StatusId: $('#StatusId').val(),
            };
            if (!EmbarqueObj.EmbarqueId || EmbarqueObj.EmbarqueId <= 0) {
                alert("Invalid Id!");
                return false;
            }
            var headers = { __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() };

            $.ajax({
                url: "/Embarques/Edit",
                headers: headers,
                data: JSON.stringify(EmbarqueObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    //BindteacherData();
                    swal(
                        "Sccess!",
                        "Your note has been saved!",
                        "success"
                    )
                    window.location.href = result.redirectToUrl;
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }


        //function for deleting Teacher's record
        function DeleteFileReceipt(ID) {
            var ans = confirm("Are you sure you want to delete?");
            if (ans) {
                $.ajax({
                    url: "/Embarques/Delete?id=" + ID,
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (result) {
                        window.location.href = result.redirectToUrl;
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        }

        function ValidateForm() {
            var isValid = true;
            if ($('#Referencia').val().trim() == "") {
                $('#Referencia').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Referencia').css('border-color', 'lightgrey');
            }
            if ($('#FechaArribo').val().trim() == "") {
                $('#FechaArribo').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#FechaArribo').css('border-color', 'lightgrey');
            }
            if ($('#Origen').val().trim() == "") {
                $('#Origen').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Origen').css('border-color', 'lightgrey');
            }
            if ($('#Destino').val().trim() == "") {
                $('#Destino').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Destino').css('border-color', 'lightgrey');
            }



            return isValid;
        }
    </script>
</body>

</html>