
@{
    ViewBag.Title = "AdminDashBoard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="notika-status-area">
    <div class="container">
        <div class="row">
Bienvenido/a
        </div>
    </div>
</div>